<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Item Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Product 1</td>
                <td>20</td>
                <td>2</td>
                <td>40</td>
            </tr>
            <tr>
                <td>Product 2</td>
                <td>35</td>
                <td>2</td>
                <td>70</td>
            </tr>
            <tr>
                <td>Product 3</td>
                <td>30</td>
                <td>3</td>
                <td>90</td>
            <tr>
                <td>Product 4</td>
                <td>50</td>
                <td>2</td>
                <td>100</td>
            </tr>
            </tr>
        </tbody>
    </table>
    <a asp-action="Payment" asp-controller="Home" style="width:100px;" class="btn btn-primary" type="button"> Checkout</a>
</div>