<link href="~/css/ourteamcard.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/aneesa.jpg">
                </div>
                <h3 class="title">Aneesa Habib</h3>
                <span class="post">Frontend Designer</span>
                <ul class="social">
                    <li><a href="https://www.facebook.com/aneexa.habib?mibextid=ZbWKwL" class="fa fa-facebook"></a></li>
                    <li><a href="https://instagram.com/peesa_10p?igshid=YmMyMTA2M2Y=" class="fa fa-instagram"></a></li>
                    <li><a href="https://www.linkedin.com/in/aneesa-habib-738016234/" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/anusheh.jpg">
                </div>
                <h3 class="title">Anusheh Shakil</h3>
                <span class="post">Frontend Designer</span>
                <ul class="social">
                    <li><a href="https://www.facebook.com/anush.shakil2?mibextid=ZbWKwL" class="fa fa-facebook"></a></li>
                    <li><a href="https://instagram.com/fabiya_shykh?igshid=YmMyMTA2M2Y=" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/fabiha.jpg">
                </div>
                <h3 class="title">Fabiha Sheikh</h3>
                <span class="post">Backend Designer</span>
                <ul class="social">
                    <li><a href="https://www.facebook.com/fabiya.shykh.9?mibextid=ZbWKwL" class="fa fa-facebook"></a></li>
                    <li><a href="https://instagram.com/_anusheh.shakil?igshid=YmMyMTA2M2Y=" class="fa fa-instagram"></a></li>
                    <li><a href="https://www.linkedin.com/in/fabiya-waseem-61a110241/" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/imad.jpg">
                </div>
                <h3 class="title">Imad Khan</h3>
                <span class="post">Full-Stack Developer</span>
                <ul class="social">
                    <li><a href="https://www.facebook.com/immi0616?mibextid=ZbWKwL" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="https://www.linkedin.com/in/imad-khan-17146b20a/" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>