<link href="~/css/ourteamcard.css" rel="stylesheet" />
<div class="row">
    @for (int i = 1; i <= 10; i++)
    {
        <div class="col-md-3 col-sm-6" style="padding:10px;">
            <div class="our-team">
                <div class="pic">
                    <img src="~/img/ca3798f8-93b2-4f83-9b8d-4d8e0a1b49e4.png">
                </div>
                <h3 class="title">Shoes Nike</h3>
                <span class="post">Best Nike in the world</span>
                <a href="#" class="btn btn-danger text-white">Add To Cart</a>
             </div>
        </div>
    }
</div>


