<link href="~/css/ourteamcard.css" rel="stylesheet" />

@model IEnumerable<ApniDukan.Models.Product>

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6" style="padding:10px;">
            <div class="our-team">
                <div class="pic">
                    <img decoding="async"
                     src="@("~/upload/product/image/"+ (string.IsNullOrEmpty(item.FilePath) ? "product-placeholder-wp.jpg" : item.FilePath))"
                     asp-append-version="true"
                     width="250px"
                     height="300px"
                     alt="product_img" />
                </div>
                <h3 class="title">@Html.DisplayFor(modelItem => item.Name)</h3>
                <span class="post">@Html.DisplayFor(modelItem => item.Category.Name)</span>
                <a href="#" class="btn btn-danger text-white">Add To Cart</a>
            </div>
        </div>
    }
</div>